<!doctype html>
    <head>
        <meta charset="UTF-8">
        <title><% $title ? "$title / " : '' %><% c.title %></title>
        <link rel="stylesheet" href="/styles.css" type="text/css" />
        <link rel="alternate" type="application/rss+xml" title="<% c.title %>" href="<% u.articles_rss %>" />
        <% IF c.comments_enabled %>
        <link rel="alternate" type="application/rss+xml" title="<% c.title %> Comments" href="<% u.comments_rss %>" />
        <% END %>
        <meta name="generator" content="<% h.generator %>" />
        <% h.meta %>
    </head>
    <body>
        <div id="body">
            <div id="header">
                <h1 id="title">
                    <a href="<% u.home %>"><% c.title %></a>
                    <sup><a href="<% u.articles_rss %>"><img src="/rss.png" alt="RSS" /></a></sup>
                </h1>
                <h2 id="description"><% c.description %></h2>
                <% IF b.author %>
                <span id="author"><% c.author %></span>,
                <% END %>
                <span id="about"><% c.about %></span>
                <div id="menu"><% h.menu %></div>
            </div>
            <div id="content">
            <% content %>
            </div>
            <div class="push"></div>
        </div>
        <div id="footer"><% c.footer %></div>
    </body>
</html>
