<div class="text">
    <h1>Archive</h1>
    <br />
    <% IF archive.is_yearly %>
        <% INCLUDE 'archive-yearly', archive = archive %>
    <% ELSE %>
        <% INCLUDE 'archive-monthly', articles = archive.articles %>
    <% END %>
</div>

