<div class="text">
<h1>Tag <%= tag %>
<sup>
<%= link_to_tag $tag => { format => 'rss'} => begin %><img src="/rss.png" alt="RSS" /><% end %></sup>
</h1>
<br />
% while (my $article = $articles->next) {
    <%= link_to_article $article %>
    <br />
    %= include 'article-meta', article => $article;
% }
</div>
<% INCLUDE 'tag-pager', pager => pager, tag => tag %>
