<div class="text">
    <h1>Tags</h1>
    <br />
    <div class="tags">
<% WHILE (tag = tags.next) %>
        <a href="<%= h.tag(tag) %>"><% tag.name %></a>
        <sub>(<% tag.count %>)</sub>
<% END %>
    </div>
</div>
